{% extends 'base.html.twig' %}

{% block title %}biztechnologies{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include'home/__header.html.twig' %}
        <section>
            <div class="bg__home klx__lim">
                <div class="center__about">
                    <h3 style="position: relative; z-index: 1;color: #FFFFFF;">Identification & Verification </h3>

                </div>
            </div>
        </section>
        <section>
            <div class="service__element">
                <div class="left__services">
                    <div class="buld__element">
                        <h6>Le SEO</h6>
                        <p>

                            Biztechnologies optimise votre visibilité dans les principaux moteurs de recherche tels que Google, Yahoo, Bing, etc.

                            Il s’agit de bien équilibrer l’utilisation des mots-clés dans votre contenu et d’utiliser un champ lexical riche et varié afin de satisfaire autant les moteurs de recherche que l’humain qui se cache derrière votre cible. Vous devez vous assurer de les placer stratégiquement. Mais où?<br><br>

                            Nul besoin de dire qu’il faut y apparaître, sinon vous sombrerez loin des premiers résultats de recherche et personne ne consultera votre site. Biztechnologies vous aide à y arriver
                        </p>
                    </div>

                </div>
                <div class="right__services">
                    <div class="img__right xld__img">
                        <img class="relative__22" src="/build/images/p.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="ider__outer">
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="/build/images/d1.png" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Investissement</h4>
                        <p>Il ne faut pas voir la réalisation d’un site Internet comme une dépense mais plutôt un investissement à court et moyen terme.</p>
                    </div>
                </div>
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="/build/images/d2.png" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Disponibilité</h4>
                        <p>Votre site Web restera en ligne 365 jours par année tandis qu’une publicité traditionnelle ne durera que quelques secondes ou au mieux quelques jours.</p>
                    </div>
                </div>
                <div class="box__element__outer">
                    <div class="icon__eelement">
                        <img src="/build/images/d2.png" alt="">
                    </div>
                    <div class="boxy__element">
                        <h4>Nouvelle Clientèle</h4>
                        <p>De plus en plus de consommateurs magasinent sur Internet avant de se présenter dans les lieux physiques de votre entreprise.</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="id__section">
            <div class="our__product">
                <h5>Our PRODUCT</h5>
                <p><strong>BizTechnologie's</strong> biometric and smart card products are accepted as a form of electronic identification that is not Anly secure and reliable, but also offers one of the best technologies available today through close partnership with industry leaders.</p>
            </div>
        </section>

        <section>
            <div class="box__iden">
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d3.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d4.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d5.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d6.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d7.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d8.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d9.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
                <div class="box__isde">
                    <div class="icon__contact__img">
                        <div class="images__icon">
                            <img src="/build/images/d10.png" alt="">
                        </div>

                    </div>

                    <div class="contact__text">Twitter</div>
                </div>
            </div>
        </section>

        <section class="color__grade">
            <div class="flex__element">
                <h4>OUR PRODUCT</h4>
                <div>Discover the product of website</div>
                <div class=""><p>BizTechnolie's products</p></div>
            </div>



        </section>


        <section class="t__footer xld__footer">

        </section>






    </div>

{% endblock %}
